# Simple Starting Practice:

## Data Types and Basic Expressions

In each of the following cells, write two lines of code, using `print()` to display the value and `type()` to confirm its datatype.

*print('example')*

*type('example')*

In [1]:
# Give an example of an integer and confirm the datatype:
print (6)
type(6)

6

int

In [2]:
# Give an example of a float and confirm the datatype:
print(7.9)
type(7.9)

7.9

float

In [3]:
# Give an example of a string and confirm the datatype:
print('Hello World!')
type('Hello World!')

Hello World!

str

In [4]:
# Give an example of a boolean and confirm the datatype:
print(True)
type(True)

True

bool

Answer the following questions by writing a line of code to demonstrate what happens in each case, inventing your own examples for each question and running the cell to display the result. If you have any additional comments, include them as a comment below your code.

In [9]:
# Can you add a float to an integer? What happens? 
x = 7.9
y = 3

print(x+y)
#you can add a float to an integer. It will almost always result in a float.

10.9

In [10]:
# Can you add a string to an integer? What happens?
x = '123'
y = 4

print(x+y)
#strings cannot be added to integers. If you'd like to add them, you must convert the integer to a string value. Otherwise you receive a TypeError.

TypeError: can only concatenate str (not "int") to str

In [12]:
# Can you add a boolean to an integer? What happens?
x = False
y = 5

print(x+y)
#you can add booleans to integers because booleans equate to True = 1 and False = 0

5

In [13]:
# Can you add a boolean to a string? What happens?
x = True
y = '135'

print(x+y)
#You cannot, you get a TypeError stating that two different types of data cannot be combined.

TypeError: unsupported operand type(s) for +: 'bool' and 'str'

In [15]:
# What happens when you divide an integer by an integer? 
x = 4
y = 2.8

print(x/y)
#This is possible, and the result will always be a float.

1.4285714285714286

## Typecasting

In each of the following cells, cast the value into the specified datatype, and run the cell to check your results:

In [16]:
# Transform the below value into an integer using the int() function

int('12')

12

In [17]:
# Transform the below value into an float using the float() function

float(55)

55.0

In [18]:
# Transform the below value into a string using the str() function

str(765)

'765'

In [19]:
# Transform the below value into a boolean using the bool() function

bool(0)

False

In [22]:
# What other number or string value(s) can be typecast as boolean values? Use the print() function to list them
#False Values:
print(bool(False),
bool(None),
bool(0),
bool(""),
bool(()),
bool([]),
bool({})) 

#True Values (any values with non-empty strings, any number other than 0, or non-empty lists, sets, tuples, and dictionaries):
print(bool("abc"),
bool(123),
bool(["apple", "cherry", "banana"]))

False False False False False False False
True True True

In [23]:
# What's the difference between 0 and 0.0?  Write your answer below as a code comment.
#0 is an integer and 0.0 is a float.

## Math with Integers and Floats

### Understanding the difference between `/` and `//` (and how this impacts datatypes)

Write an expression to illustrate the answer to each question below. Make sure to run the cell to check your results.

In [24]:
# What is the result of 2 times 2?

print(2*2)

4

In [25]:
# What is the result of 4 divided by 2, using regular division?

print(4/2)

2.0

In [26]:
# What is the result of 4 divided by 2, using floor division?

print(4//2)

2

In [27]:
# Ok, how about 2 times 2.5?

print(2*2.5)

5.0

In [28]:
# What's 5 divided by 2 using regular division?

print(5/2)

2.5

In [29]:
# What's 5 divided by 2 using floor division?

print(5//2)

2

In [ ]:
# When might you want to use floor division instead of normal division? (Write your answer as a code comment below.)

#When you want to return integers and not floats